.cart {
  position: absolute;
  width: 22rem;
  border-radius: 10px;
  height: fit-content;
  text-align: start;
  z-index: 4;
  background: #fff;
  right: -5rem;
  top: 5rem;
  box-shadow: 0 0 2px rgb(0 0 0 / 12%), 0 8px 16px rgb(0 0 0 / 14%),
    0 5px 10px rgb(0 0 0 / 20%);
}
.cart .title {
  position: relative;
  height: 3.5rem;
  top: 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding: 1.1rem;
  width: 100%;
}

.cart ul li {
  cursor: auto;
}

.cart .noItems p {
  position: relative;
  height: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cart ul li .items {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}
.cart ul li .items img {
  width: 18%;
  border-radius: 4px;
  /* margin-right: 2%; */
}
.cart ul li .items .details {
  width: 65%;
  /* margin-right: 3%; */
}
.cart ul li .items svg {
  cursor: pointer;
  width: 7%;
}
.cart ul li .items svg path {
  position: absolute;
  right: 0;
}
.cart ul li .items .details .itemsTitle {
  margin-bottom: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart ul li .items .details .totalPrice {
  color: hsl(220, 13%, 13%);
  margin-left: 0.6rem;
  font-size: 1rem;
  display: inline;
}
.cart ul li .items .details span {
  white-space: nowrap;
}
.cart .checkout {
  width: calc(100% - 3rem);
  margin: 0.3rem auto 1.7rem;
}

@media screen and (max-width: 545px) {
  .cart {
    left: 0;
    width: 90%;
    margin: 0.6rem 5% 0;
  }
  .cart ul {
    margin: 0 auto;
    justify-content: space-around;
  }
}
